@import "tailwindcss";

@theme {
  --color-lightGray: #f4f4f4;
  --color-navyBlue: #3772ff;
  --color-white: #fefdff;
  --color-gray: #787878;
  --color-lightBlue: #3772ff3b;
  --color-borderGray: #e4e4e4;
  --color-inputBg: #E6E6E7;
}

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}

body {
  font-family: "yekan";
  direction: rtl;
}

@custom-variant dark (&:where(.dark, .dark *));