@import "tailwindcss";

@theme {
  --color-lightGray: #f4f4f4;
  --color-navyBlue: #3772ff;
  --color-white: #fefdff;
  --color-gray: #787878;
  --color-lightBlue: #3772FF3B;

}

body {
  font-family: "yekan";
  direction: rtl;
}
